.sub-nav {
	height: 450px;
	position: absolute;
	left: 165px;
	top: 110px;
	display: none;
}
.sub-nav::after {
	content: "";
	display: block;
	clear: both;
}
.sub-nav > div {
	float: left;
}
.sub-nav .left-nav {
	width: 260px;
	height: 450px;
	background-color: #443228;
	text-align: left;
	font-size: 14px;
	color: #bfa69a;
}
.left-nav h2 {
	color: #fff;
	font-size: 28px;
	font-weight: normal;
	margin-left: 20px;
	margin-top: 5px;
}
.left-nav li:first-child {
	margin-top: 10px;
}
.left-nav li {
	box-sizing: border-box;
	padding: 3px;
	margin-top: 5px;
	margin-left: 20px;
	line-height: 20px;
}
.left-nav li:visited{
	background-color: #fff;
}
.left-nav li:hover {
	cursor: pointer;
	color: #fff;
}
.sub-nav .right-nav {
	width: 680px;
	height: 450px;
	background-color: #fff;
}
.nav1 > li:hover > .sub-nav {
	display: block;
}